*{
    font-family: "CloudShuiZhu-GB Normal";
    /* font-size: 12pt; */
}


QWidget {
    background-color:rgb(222,216,189);
    color: rgb(140,112,71);

}

QWidget[WidgetColor="Transparent"] {
    background-color:transparent;
    color: rgb(140,112,71);

}

QWidget:focus{outline: none;}

QLabel{
    color: rgb(79,153,148);
    background:transparent;
    font-size: 15pt;
    font-family: "LiSu";
}

QPushButton {
    background-color: rgb(225,124,27);
    border: none;
    border-radius: 10px;
    color: rgb(255,243,206);
    font-weight: bold;

    min-height: 30px;
    min-width: 75px;
}

QPushButton:hover {
    background-color: rgb(236,155,41);
    border: 2px solid rgb(169,172,132);
}

QPushButton[ButtonColor="red"] {
    background-color: rgb(104,21,21);
    border: none;
    border-radius: 10px;
    color: rgb(255,243,206);
    font-weight: bold;

    min-height: 30px;
    min-width: 75px;
}

QPushButton[ButtonColor="red"]:hover {
    background-color: rgb(181,45,54);
    border: 2px solid rgb(169,172,132);
}


QPushButton[ButtonColor="blue"] {
    background-color: rgb(44,161,170);
    border: none;
    border-radius: 10px;
    color: rgb(255,243,206);
    font-weight: bold;

}

QPushButton[ButtonColor="blue"]:hover {
    background-color: rgb(50, 175, 184);
    border: 2px solid rgb(169,172,132);
}

QToolButton {
    background-color: transparent;
    border: none;
    color: rgb(75,115,113);
    font-size: 20pt;

    min-height: 40px;
    /* max-height: 40px; */
    min-width: 120px;
    /* max-width: 120px; */
}

QToolButton:hover,
QToolButton:checked {
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,stop:0 rgb(101,143,137),stop:0.5 rgb(50,105,108),stop:1 rgb(101,143,137));
    color: rgb(117,218,193);
    border-radius: 20px;
}

QScrollArea {
    background-color: transparent;
	border: none;
}

QLineEdit,
QTextEdit,
QPlainTextEdit,
QSpinBox,
QDoubleSpinBox,
QDateEdit,
QTimeEdit,
QDateTimeEdit {
	background-color: rgb(195,182,150);
	color: rgb(130,103,73);
	padding-left: 10px;
	border: 1px rgb(183,168,143) solid;

	min-height: 30px;
}

QComboBox
{
    background-color: rgb(180,166,142);
	color: rgb(94,72,58);
	padding-left: 10px;
	border: 1px rgb(183,168,143) solid;

	min-height: 30px;
}

/* QLineEdit:disabled,
QTextEdit:disabled,
QPlainTextEdit:disabled,
QSpinBox:disabled,
QDoubleSpinBox:disabled,
QComboBox:disabled,
QDateEdit:disabled,
QTimeEdit:disabled,
QDateTimeEdit:disabled {
	background-color: rgb(70,52,38);
    color: white;
} */

QComboBox:on {
	background-color: rgb(178,165,142);
}

QComboBox::drop-down {
	border: none;
	background: transparent;
}

QComboBox::down-arrow {
    image: url(":/resources/icons/DropdownArrow.png");
	background-position: center;
	background-repeat: no-repeat;
	background: transparent;
	border: none;
	min-width: 12px;
	max-width: 12px;
    min-height: 8px;
    max-height: 8px;
}


QLabel[LabelType="Title"]
{
    color:rgb(250,202,137);
    background:transparent;

}

QPushButton[ButtonColor="MainBtn"] {
    background-color: transparent;
    border: none;
    color:qlineargradient(x1:0, y1:0, x2:, y2:1,stop:0 rgb(250,202,137),stop:1 rgb(220,208,167));
}

QPushButton[ButtonColor="MainBtn"]:hover {
    color:qlineargradient(x1:0, y1:0, x2:, y2:1,stop:0 rgb(245,202,149),stop:1 rgb(255,248,199));
}

QPushButton[ButtonColor="Back"] {
    background-color: transparent;
    background-image: url(:/resources/buttons/fanhui_normal.png);;
    border: none;
    min-width: 270px;
	max-width: 270px;
    min-height: 89px;
    max-height: 89px;
}

QPushButton[ButtonColor="Back"]:hover {
    background-color: transparent;
    background-image: url(:/resources/buttons/fanhui_hover.png);;
    border: none;

    min-width: 270px;
	max-width: 270px;
    min-height: 89px;
    max-height: 89px;
}


QPushButton[ButtonColor="Del"] {
    background-color: transparent;
    background-image: url(:/resources/buttons/red_normal.png);;
    border: none;
    min-width: 22px;
	max-width: 22px;
    min-height: 28px;
    max-height: 28px;
}

QPushButton[ButtonColor="Del"]:hover {
    background-color: transparent;
    background-image: url(:/resources/buttons/red_hover.png);;
    border: none;
    min-width: 22px;
	max-width: 22px;
    min-height: 28px;
    max-height: 28px;
}


QLabel[LabelType="LoadData"]
{
    color:rgb(106,111,64);
    background:transparent;
    font-size: 15pt;
}

QLabel[LabelType="LoadDataText"]
{
    color:rgb(87,55,43);
    background:transparent;
    font-size: 12pt;
}

QTableWidget{
    background-color:transparent;
   /* border: none;*/
    /* border: 1px solid rgb(66, 66, 66); */
    color: rgb(117,218,193);
    font-size: 15pt;
}

QTableWidget>QHeaderView::section,
QTableWidget>QTableCornerButton:section {
    background-color: transparent;
    border: none;
    font-size: 15pt;
    font-weight: normal;
    font-style: normal;
    padding: 10px;
    margin: 0px;
    color: rgb(79,153,148);
    min-height: 50px;
}

QTableWidget>QHeaderView::section:checked,
QTableWidget>QTableCornerButton:section:checked {
    color: rgb(79,153,148);
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,stop:0 rgb(101,143,137),stop:0.5 rgb(50,105,108),stop:1 rgb(101,143,137));
    border: none;
    font-size: 15pt;
    border-radius: 20px;
    font-weight: normal;
    font-style: normal;
    padding: 10px;
    margin: 0px;

}

QTableWidget::item {
    color: rgb(79,153,148);
    border: none;
    text-align: center;
    background-color:transparent;
    min-width: 150px;
    min-height: 50px;
}

QTableWidget::item:selected:active,
QTableWidget::item:selected:!active{
    color: rgb(117,218,193);
    text-align: center;
    border-radius: 20px;
    background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0,stop:0 rgb(101,143,137),stop:0.5 rgb(50,105,108),stop:1 rgb(101,143,137));
}